@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-image: url("fundoSite.png");
  background-size: cover;
  font-family: "Kanit", sans-serif;
  padding: 0;
  margin: 0;
}

.formulario {
  background-color: rgb(255, 255, 255);
  width: 700px;
  padding: 1px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 10px 10px 40px 10px;
  margin-bottom: 100px;
}

form {
  padding: 34px;
  display: flex;
 flex-direction: column;
}

.formulario h1 {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgba(143, 221, 123, 0.296);
  text-transform: uppercase;
}

input {
  padding: 5px;
  margin-top: 5px;
}

label {
  margin-top: 10px;

}

.botao-enviar,
button {
  width: 100%;
  margin-top: 10px;
  height: 45px;
  background-color: rgb(133, 228, 105); 
  border-radius: 10px;
  border: 0;
  font-size: large;
}

.button_buscar {
  width: 200px;
  height: 30px;
  background-color: rgb(123, 167, 221); 
  border-radius: 10px;
}

.topo {
  background-color: rgb(133, 228, 105);
  margin-bottom: 2%;
  
}

.topo nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: large;
  height: 80px;
}

.nome {
  text-align: center;
  flex: 1;
  font-weight: bold;
}

.logo img {
  width: 5%;
  border-radius: 50%;
}





